name: Auto Assign & Label

on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  assign:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.body, '[created-by-my-app]')
    steps:
      - name: Assign issue
        uses: pozil/auto-assign-issue@v1
        with:
          assignees: Cyraullie

      - name: Add label
        uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: |
            bug
            from-app