name: Auto Assign Issues

on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - name: Auto assign
        uses: pozil/auto-assign-issue@v1
        with:
          assignees: Cyraullie
